:host {
  display: block;
}

.shadow-theme-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.text-title-md {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.h-11\.5 {
  height: 2.875rem;
}

.w-11\.5 {
  width: 2.875rem;
}
