name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  client-build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: client/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build -- --configuration production
      - name: Test
        run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadless

  server-build-check:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: server/package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Check Syntax
        run: node --check src/index.js
